﻿@{
    // ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shoponline</title>
</head>
<body>
    <div>
        <h3>Sale parts for cars</h3>
        <table>
            <tr>
                <td><p>Part name</p></td>
                <td><p>Saler</p></td>
                <td><p>Price</p></td>
                <td></td>
            </tr>
            @foreach (var p in ViewBag.Parts)
            {
                <tr>
                    <td><p>@p.PartName</p></td>
                    
                    <td><p>@p.PartPrice</p></td>
                    <td><p><a href="/Home/Buy/@p.PartId">Bay</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
@*//<div class="jumbotron">
    //<h1>ASP.NET</h1>
    //<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
   // <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
//</div>

//<div class="row">
  //  <div class="col-md-4">
     //   <h2>Getting started</h2>
      //  <p>
      //      ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
       //     enables a clean separation of concerns and gives you full control over markup
       //     for enjoyable, agile development.
     //   </p>
     //   <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
   // </div>
   // <div class="col-md-4">
    //    <h2>Get more libraries</h2>
    //    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    //    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
   // </div>
   // <div class="col-md-4">
     //   <h2>Web Hosting</h2>
     //   <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
     //   <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    //</div>
//</div>*@